@import '~office-ui-fabric-react/dist/sass/References.scss';

.onboardingCheckList {
  .tableContainer{
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
  }
  .checkListTable{
    width: 100%;
    th {
      text-align: left;
      padding: 3px;
    }
    td{
      padding: 3px;
      position: relative;
    }
    tr th:first-child{
      width: 90px;
    }
    tr:nth-child(2n+2) td {
      background: #f1f1f1;
    }
  }

  .disabled{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background:rgba(200, 200, 200, 0.30);
  }

  .actionButton{
    white-space: nowrap;
    font-size: 13px;
    label {
      cursor: pointer;
      color: "[theme:themePrimary]";
    }
    button {
      color: "[theme:themePrimary]";
    }
    a {
      color: "[theme:themePrimary]";
    }
  }
}

.emailDialogContainer{
  max-width: 400px;
  width: 100%;
}
