@import '~office-ui-fabric-react/dist/sass/References.scss';

.tempTraining {
  max-width: 1000px;
  margin:0px auto;
  
  .module{
    display: block;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 3px #ddd;
    margin: 0px 0px 5px 0px;
    .moduleHeading{
      background: #f3f3f3;
      border-bottom: 1px solid #ddd;
      box-sizing: border-box;
      h5{
        font-size: 16px;
        margin: 0px;
        padding: 12px 10px;
        box-sizing: border-box;
        span{
          float: right;
          min-width: 200px;
        }
      }
    }
  }

  .subModule{
    display:block;
    padding: 10px;
    box-sizing: border-box;
    .moduleHeading{
      background: #fff;
      border-bottom: 0px solid #ddd;
      h5{
        font-size: $ms-font-size-m;
        margin: 0px;
        padding-left: 10px;
      }
    }
    a{
      text-decoration: none;
      display: inline-block;
      color: $ms-color-themePrimary;
    }
    table{width: 100%;margin-bottom: 10px;
      box-sizing: border-box;
      border-collapse: collapse;
      th{
        border-bottom: 2px solid;
        border-color: #eaeaea;
        padding: 5px;
        text-align:left;
        box-sizing: border-box;
      }
      td{
        border-bottom: 1px solid;
        border-color: #eaeaea;
        padding: 5px;
        box-sizing: border-box;
      }
      tr:hover td{
        background: #fffff5;
      }
    }
  }

  .bottomRow{width: 100%;padding:0px 5px;}
  .bottomRow > div{margin:10px 0px;font-size: 13px;}
  .bottomRow > div span{font-size: 13px;}
}
